{
    debug
}

http://luau.localhost {
	reverse_proxy {$AUTH_HTTP_HOST}:{$AUTH_HTTP_PORT}
}

http://users.localhost {
	reverse_proxy {$USERS_HTTP_HOST}:{$USERS_HTTP_PORT}
}

grpc.clients.localhost {
	reverse_proxy {$CLIENTS_GRPC_HOST}:{$CLIENTS_GRPC_PORT} {
        tls_insecure_skip_verify
    }
}

http://clients.localhost {
	reverse_proxy {$CLIENTS_HTTP_HOST}:{$CLIENTS_HTTP_PORT}
}

http://demo.localhost {
	reverse_proxy {$DEMO_HTTP_HOST}:{$DEMO_HTTP_PORT}
}
